.main {
  width: 100%;
  min-height: 100vh;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  /* padding: 40px 0 64px; */
}

@media (max-width: 768px) {
  .content {
    width: min(1200px, 90vw);
    /* padding: 28px 0 48px; */
  }
}
